:root {
    --bg-dark: #030303;
    --bg-gold: #D2B183;
    --dark-red: #710707;
    --font-gold: #9D8665;
    --font-white: #FFFFFF;
    --font-black: #000000;
    --light-grey: #B3B3B3;
    --dark-grey: #999999;
    --unvisited: #333333;
}

@font-face {
    font-family: "Forum";
    src: url(/fonts/Forum-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--font-white);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

li, p {
    padding: 0;
    margin: 0;
}

.visually-hidden { /* Универсальный класс для скрытия блоков */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Header start */

.header {
    background-color: var(--bg-dark);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 60px 0;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item:not(:last-child) {
    margin-right: 55px;
}

.header__link {
    text-decoration: none;
    color: var(--font-white);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: thin;
    opacity: 0.7;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}

.header__burger {
    display: none;
}

/* Header end */

/* Main start */

.main {
    width: 100%;
    flex-grow: 1;
}

.title {
    font-family: "Forum", "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    color: var(--font-white);
    padding-top: 75px;
    padding-bottom: 25px;
}

.title--accent {
    color: var(--font-gold);
}

.title--bottom-red {
    border-bottom: 3px solid var(--dark-red);
    margin-bottom: 75px;
}

.button {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: auto;
    letter-spacing: 2px;
    color: var(--font-white);
    border: none;
    cursor: pointer;
}

/* Content start */

.content {
    background-color: var(--bg-dark);
}

.content__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    overflow: hidden;
}

.content__info {
    position: absolute;
    z-index: 1;
}

.content__text {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 2px;
    color: var(--font-white);
    padding-bottom: 75px;
}

.content__button {
    background-color: var(--dark-red);
    padding: 25px 64px;
    border-radius: 10px;
}

.content__image {
    position: relative;
    left: 30%;
}

@media (min-width: 1024px) and (max-width: 1919px) {

    .content__image {
        left: 51%;
    }
}

.content-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Content end */

/* Tours start */

.tours {
    background-color: var(--font-white);
}

.tours__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 60px;
    margin-bottom: 75px;
}

@media (min-width: 1024px) and (max-width: 1919px) {

    .tours__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 108px;
        place-content: center;
        place-items: center;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {

    .tours__list {
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        place-items: center;
        gap: 40px 56px;
    }
}

@media (min-width: 420px) and (max-width: 766px) {

    .tours__list {
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        place-items: center;
        gap: 40px 56px;
    }
}

/* Tours end */

/* Explore start */

.explore {
    background-color: var(--bg-dark);
}

.explore__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore__info {
    width: 50%;
}

.explore__text {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38,5;
    color: var(--font-white);
}

.explore__text:first-child {
    margin-bottom: 35px;
}

/* Explore end */

/* Video start */






/* Video end */

























































/* Main end */




































/* Footer start */

.footer {
    background-color: var(--bg-dark);
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    padding-top: 75px;
    padding-right: 145px;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__social {
    display: flex;
    align-items: end;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.footer__text {
    color: var(--font-white);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: thin;
    opacity: 0.7;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* Footer end */