:root {
    --bg-dark: #030303;
    --bg-gold: #D2B183;
    --dark-red: #710707;
    --font-gold: #9D8665;
    --font-white: #FFFFFF;
    --font-black: #000000;
    --light-grey: #B3B3B3;
    --dark-grey: #999999;
    --unvisited: #333333;
}

@font-face {
    font-family: "Forum";
    src: url(/fonts/Forum-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--bg-dark);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

.visually-hidden { /* Универсальный класс для скрытия блоков */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Header start */

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 60px 0;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item:not(:last-child) {
    margin-right: 55px;
}

.header__link {
    text-decoration: none;
    color: var(--font-white);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: thin;
    opacity: 0.7;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}

.header__burger {
    display: none;
}

/* Header end */

/* Main start */

.main {
    width: 100%;
    flex-grow: 1;
}

h1 {
    font-family: "Forum", "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
}

p {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 2px;
}

/* Main end */

/* Footer start */

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    padding-top: 75px;
    padding-right: 145px;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__social {
    display: flex;
    align-items: end;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.footer__text {
    color: var(--font-white);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: thin;
    opacity: 0.7;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* Footer end */